:root {
  --icon-size: 48px;
  --pallete-gap: 0.5em;
  --main-padding: 16px;
}

/* colors */
:root {
  --black-100: #E9EAEC;
  --black-200: #DEDEE3;
  --black-300: #C3C3C6;
  --black-400: #A3A4A8;
  --black-500: #797A81;
  --black-600: #5C5C61;
  --black-700: #31333A;
  --black-800: #1C1D21;
  --black-900: #0F0F11;

  --white-primary: #FFFFFF;
  --black-primary: #151617;

  --red-100: #FC665C;

  --green-100: #81F98D;
  --green-600: #145722;

  --theme-bg: var(--white-primary);
  --theme-fg: var(--black-900);
}

:root {
  --font: "Fira Code", inter, monospace;
}

button {
  font-family: var(--font);
}

button:disabled {
  cursor: not-allowed !important;
}

body {
  margin: 0px;
  padding: var(--main-padding);
  background: var(--theme-bg);
  height: calc(100vh - var(--main-padding) * 2);
  display: grid;
  grid-template-rows: 36px 1fr 64px;
  font-family: var(--font);
}

header {
  display: flex;
  justify-content: space-between;
}

#logo-con {
  display: flex;
  align-items: baseline;
}

#logo-con * {
  flex-shrink: 0;
}

#button-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

#runner {
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  width: calc(132.35px + 0.9rem);
  transition: all 0.08s ease-in;
  background: var(--black-100);
  color: var(--black-800);
  --separator-color: var(--black-300);
  --hover-color: var(--black-200);
}

#runner #running-icon {
  display: none;
}

#runner #designing-icon {
  display: block;
}

body[data-state="running"] #runner #running-icon {
  display: block;
}

body[data-state="running"] #runner #designing-icon {
  display: none;
}

#runner #running-state {
  display: none;
}

#runner #designing-state {
  display: block;
}

body[data-state="running"] #runner #running-state {
  display: block;
}

body[data-state="running"] #runner #designing-state {
  display: none;
}

body[data-state="invalid"] #runner {
  box-shadow: inset var(--red-100) 0 0 16px -8px;
}

body[data-state="running"] #runner {
  background: var(--black-800);
  color: var(--black-200);
  --separator-color: var(--black-700);
  --hover-color: var(--black-700);
}

#runner button {
  aspect-ratio: 1;
  height: 100%;
  font-size: 1rem;
  appearance: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.08s ease-in;
  position: relative;
  background: transparent;
  color: currentColor;
}

#runner button::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 12px);
  background: var(--separator-color);
  right: 0px;
  top: 6px;
}

body:not([data-state=invalid]) #runner button:hover {
  background: var(--hover-color);
  transition: background 0.08s ease-in;
}

body:not([data-state=invalid]) #runner button:hover::after {
  background: transparent;
}

canvas {
  width: 100%;
  height: 100%;
}

#pallet-con {
  display: flex;
  margin: auto;
}

body.hide-el #command-pallete,
body.hide-el #gates-pallete {
  opacity: 0;
}

#gates-pallete {
  background: var(--theme-bg);
  border-radius: 6px;
  border: 1px dashed var(--black-300);
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
}

#gates-pallete {
  display: flex;
  padding: var(--pallete-gap);
  gap: var(--pallete-gap);
}

#gates-pallete .gate-con {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 6px;
  transition: all 0.05s ease-in-out 0s;
  cursor: pointer;
  box-sizing: border-box;

  display: grid;
  place-items: center;

  background: transparent;
}

#gates-pallete:hover {
  border-color: var(--black-900);
}

#separator {
  width: 1px;
  background: var(--black-300);
  margin: 6px 4px;
}

#gates-pallete .gate-con:hover {
  background: var(--black-100);
}

#gates-pallete .gate-con:hover .icon {
  stroke: var(--black-900);
}

#gates-pallete svg {
  --size: calc(var(--icon-size) * 0.75);
  /* 3/4th of icon size */
  width: var(--size);
  height: var(--size);
}

#gates-pallete .gate-con .icon {
  transition: all 0.1s ease-in-out 0s;
  fill: transparent;
  stroke: var(--black-700);
  stroke-width: 2px;
}

#gates-pallete .gate-con[data-state="selected"] {
  background: var(--theme-fg);
}

#gates-pallete .gate-con[data-state="selected"] .icon {
  stroke: var(--white-primary);
}

#gates-pallete:has(.gate-con) {
  border-color: blue;
}

#command-pallete {
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  display: flex;
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
}

#command-pallete button:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

#command-pallete button:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

#command-pallete button {
  background: var(--theme-fg);
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 0px;
}

#logo {
  --color: var(--theme-fg);
  stroke: var(--color);
  fill: var(--color);
  height: 100%;
}

#tutorial {
  color: var(--black-800);

  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
  border-bottom: 1px dashed currentColor;
}

.hide-el #tutorial {
  opacity: 0.0;
}

#share {
  --icon-size: 1rem;
  color: var(--black-700);
  appearance: none;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0px 1rem;
  background: var(--black-100);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.08s ease-in;
}

#share:hover {
  background: var(--black-200);
}

#share .icon {
  stroke: var(--black-600);
  stroke-width: 1.5px;
  fill: transparent;
  width: var(--icon-size);
}

#delete-widget {
  background: var(--theme-fg);
  position: fixed;
  --size: 16px;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  transform: translateX(-50%);

  transition: opacity 0.1s ease-in 0s;
}

#delete-widget[data-state="active"] {
  opacity: 1.0;
}

#delete-widget[data-state="inactive"] {
  opacity: 0.0;
}