:root {
  --icon-size: 72px;
  --pallete-gap: 0.5em;
  --pallete-size: calc((var(--icon-size) * 2) + (var(--pallete-gap)));
}

/* colors */
:root {
  --black-100: #E9EAEC;
  --black-200: #DEDEE3;
  --black-300: #C3C3C6;
  --black-400: #A3A4A8;
  --black-500: #797A81;
  --black-600: #5C5C61;
  --black-700: #31333A;
  --black-800: #1C1D21;
  --black-900: #0F0F11;

  --white-primary: #FFFFFF;
  --black-primary: #151617;

  --red-100: #FC665C;

  --green-100: #81F98D;
  --green-600: #145722;

  --theme-bg: var(--white-primary);
  --theme-fg: var(--black-900);
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--theme-bg);
}

body.hide-el #command-pallete,
body.hide-el #gates-pallete {
  opacity: 0;
}

#gates-pallete {
  background: var(--theme-bg);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: var(--pallete-size);
  left: 2em;
  border-radius: 6px;
  border: 2px solid var(--theme-fg);
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
}

#gates-pallete {
  display: flex;
  padding: var(--pallete-gap);
  gap: var(--pallete-gap);
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
}

#gates-pallete .gate-con {
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 4px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.1s ease-in-out 0s;
  cursor: pointer;
  box-sizing: border-box;
}

#gates-pallete .gate-con:hover {
  border-color: var(--theme-fg);
}

#gates-pallete .gate-con .icon {
  transition: all 0.1s ease-in-out 0s;
  fill: transparent;
  stroke: var(--theme-fg);
  stroke-width: 2px;
}

#gates-pallete .gate-con[data-state="selected"] {
  background: var(--theme-fg);
}

#gates-pallete .gate-con[data-state="selected"] .icon {
  stroke: var(--theme-bg);
}

#command-pallete {
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  display: flex;
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
}

#command-pallete button:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

#command-pallete button:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

#command-pallete button {
  background: var(--theme-fg);
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 0px;
}

#logo {
  position: fixed;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  --color: var(--theme-fg);
  stroke: var(--color);
  fill: var(--color);
  width: 60px;
}

#tutorial {
  color: var(--theme-bg);
  --margin-size: calc(2em + 59px/2);

  background: var(--theme-fg);
  text-decoration: none;
  cursor: pointer;
  padding: 0.3em 0.6em;
  display: inline-block;
  border-radius: 2em;
  position: fixed;
  right: var(--margin-size);
  top: var(--margin-size);
  transform: translateY(-50%);
  opacity: 1.0;
  transition: all 0.2s ease-in 0s;
}

.hide-el #tutorial {
  opacity: 0.0;
}

#delete-widget {
  background: var(--theme-fg);
  position: fixed;
  --size: 16px;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  transform: translateX(-50%);

  transition: opacity 0.1s ease-in 0s;
}

#delete-widget[data-state="active"] {
  opacity: 1.0;
}

#delete-widget[data-state="inactive"] {
  opacity: 0.0;
}